<!-- <p>games works!</p>
<a
  [routerLink]="['/gameMain/games', game.id, game.name]"
  *ngFor="let game of games"
  >{{ game.id }}</a
>
<hr />
<button *ngFor="let game of games" (click)="showGame(game.id)">
  {{ game.id }}
  <h3>{{ game.id }}</h3>
</button> -->

<div class="games">
  <div class="game-search-filters">
    <app-game-search-filter></app-game-search-filter>
  </div>
  <div class="game-search-options">
    <app-game-search-options></app-game-search-options>
  </div>
  <div class="game-container">
    <app-game *ngFor="let game of games" [game]="game"></app-game>
  </div>
</div>

<router-outlet></router-outlet>
