.games {
  position: relative;
  width: 70%;
  margin: auto;
  background: black;
}

.game-search-options {
  position: absolute;
  width: 20%;
  padding: 10px;
}

.game-container {
  width: 80%;
  margin: auto;
  margin-right: 0;
}
