<div class="game-search-filter">
  <div class="row">
    <div class="column"><div class="">Nintendo Games</div></div>
    <div class="column sort-by">
      <div class="">
        Sort
        <select>
          <option>Price</option>
        </select>
      </div>
    </div>
    <div class="column show">
      <div class="">
        Show
        <select>
          <option>12</option>
          <option>24</option>
          <option>36</option>
          <option>48</option>
        </select>
      </div>
    </div>
  </div>
</div>
